<% if comment.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% comment.errors.full_messages.each do |message| %>
      <li><%= simple_format(message) %></li>
    <% end %>
  </div>
<% end %>