<% if !admin_signed_in? && member_signed_in? && !current_member.guest? %>
  <div class="container">
    <%= form_with model: [job, theme, comment], local: false do |f| %>
      <%= hidden_field_tag :page, params[:page] %>
      <div class = "row py-4 justify-content-center">
        <%= f.text_area :comment, rows: '3', cols: '70',placeholder: "コメントを入力（0文字では送信できません）" %>
      </div>
      <div class = "row justify-content-center">
        <%= f.submit "送信" ,  class: "col-sm-3 "%>
      </div>
    <% end %>
  </div>
<% end %>