$('#comments_area').append("<div id='comments_area_id'><%= j(render partial: 'public/comments/comment', locals: {job: @job, theme: @theme, comment: @comment}) %></div>");
$("textarea").val('');

$('#error_message_area').html("<%= escape_javascript(render partial: 'public/comments/errors', locals: {comment: @comment}) %>");
<!--$('#comments_area     ').appe("<%#=                 j(render partial: 'public/comments/comment',locals: {comment: @comment}) %>");-->
