<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <h2>職業の中から "<%= @word %>"を検索した結果</h2>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th></th>
        <th>職業名</th>
        <th colspan="3"></th>
      </tr>
      <tr>
        <% @jobs.each do |job| %>
        <td><%= job.name %></td>
        <td><%= link_to '詳細を見る', job_path(job)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>