<div  class="container">
  <div class="row justify-content-center pt-4 pb-2">
    <h3 class="about">Share MyJobとは？</h3>
  </div>
  <div class="row justify-content-center text-center">
    <div class="about-box">
      <h5>
        仕事の情報交換できる<br>
        就活コミュニティサイトです
      </h5>
    </div>
  </div>
  <div class="row justify-content-center text-center pb-3">
    <h5>
      転職をしようか悩んでいる方や<br>
      気になっている職業のある方へ
    </h5>
  </div>
  <div class="row justify-content-center text-center pb-3">
    <h6>
    ここでは職業ごとに区分けしたうえで、<br>
    さらにテーマ別に掲示板を展開しています。<br>
    まずは気になることから職業に関する知識を深め、<br>
    「天職」探しへの1歩を踏み出しましょう！
    </h6>
  </div>
  <div class="row justify-content-center py-3">
      <div class="col-md-2 text-center"><%= image_tag asset_path("男性調べもの.png"), class: 'm-2' %></div>
      <div class="col-md-2 text-center"><%= image_tag asset_path("男女.png"), class: 'm-2' %></div>
      <div class="col-md-2 text-center"><%= image_tag asset_path("女性ひらめき.png"), class: 'm-2' %></div>
  </div>
</div>