<div class = "container">
  <div class="btn-wrapper col-11 py-4 mx-auto">
    <div class = "row justify-content-center py-4">
      <div class= "col-md-1">
        <% if @unconfirmed_jobs.count > 0 %>
          <div class="mx-3">
            <button type="button" class="btn btn-danger"><i class="fa-solid fa-bell"></i></button>
          </div>
        <% end %>
      </div>
        <%= link_to "職業投稿一覧" , admin_jobs_path, class: 'btn btn-primary btn-block col-6'  %>
    </div>
    <div class = "row justify-content-center py-4">
      <div class="col-md-1">
        <% @jobs.each do |job| %>
          <% job_theme = job.themes.where(is_checked: false) %>
          <% if job_theme.count > 0 %>
            <div class="mx-3"><button type="button" class="btn btn-danger"><i class="fa-solid fa-bell"></i></button></div>
            <% break %>
          <% end %>
        <% end %>
      </div>
        <%= link_to "テーマ投稿一覧" , admin_themes_path, class: 'btn btn-info btn-block col-6'  %>
    </div>
    <div class = "row justify-content-center py-4">
      <div class= "col-md-1">
        <% if @unconfirmed_reports.count > 0 %>
          <div class="mx-3">
            <button type="button" class="btn btn-danger"><i class="fa-solid fa-bell"></i></button>
          </div>
        <% end %>
      </div>
        <%= link_to "通報一覧" , admin_reports_path, class: 'btn btn-warning btn-block col-6 '  %>
    </div>
    <div class = "row justify-content-center py-4">
       <div class= "col-md-1"></div>
        <%= link_to "会員一覧" , admin_members_path, class: 'btn btn-success btn-block col-6 '  %>
    </div>
  </div>
</div>
