<div class = "container">
  <div class="btn-wrapper col-8 py-4 mx-auto">
    <div class = "row py-4">
        <%= link_to "職業一覧" , root_path, class: 'btn btn-primary btn-block '  %>
    </div>
    <div class = "row py-4">
        <%= link_to "会員一覧" , radmin_members_path, class: 'btn btn-success btn-block '  %>
    </div>
  </div>
</div>
