  <div class = "container">
    <div class = "row py-4">
      <h3>職業選択画面</h3>
    </div>

    <table class="table table-hover table-bordered py-4">
      <thead class="thead-dark">
        <tr>
          <th class="header">職業id</th>
          <th class="header">職業名</th>
          <th class="header">保有テーマ数</th>
        </tr>
      </thead>
      <tbody>
        <% @Jobs.each do |job| %>
          <tr>
            <td class="table-light"><%= job.id %></td>
            <td class="table-light">
              <%= link_to job.name, admin_theme_path(job) %>
            </td>
            <td class="table-light">
              <%= job.themes.count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>