@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#wrapper{
  width: 100%;
  position: relative;
  min-height: 100vh;
}


header{
  height: 100px;
  background-color: #99C3ED;
}



// main{
//   // min-height: calc(100vh - 200px - 60px);
//   background-color: #D9E5FF;
// }

body{
  background-color: #D9E5FF;
}


footer{
  position: absolute;
  bottom: 0;
  background-color: #99C3ED;
  height: 60px;
  width: 100%;
}

.comment-all{
  background-color: white;
  padding-left: 30px;
  min-height: 80%;
}

.button-area{
  text-align: center;
}