@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.wrapper{
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
}


header{
  // height: 100px;
  background-color: #99C3ED;
}



// main{
//   // min-height: calc(100vh - 200px - 60px);
//   background-color: #D9E5FF;
// }

body{
  background-color: #D9E5FF;
  font-family: 'ヒラギノ丸ゴ ProN W5',sans-serif;
}

// .footer > .footer-container {
//     width: auto;
//     max-width: 680px;
//     padding: 0 15px;
// }

footer{
  position: absolute;
  bottom: 0;
  background-color: #99C3ED;
  // height: 60px;
  width: 100%;
}

// .comment-all{
//   background-color: white;
//   padding-left: 30px;
//   min-height: 80%;
// }

.title-box{
  margin: 1em 0;
  background-color: #e3f2fd;
  border: 2px solid #2196f3;
  letter-spacing: .3px;
}

.title-box-title{
  color: #fff;
  font-weight: bold;
  background-color: #2196f3;
  padding: 4px 6px;
  text-align: center;
}

.title-box p{
  margin: 0;
  padding: 1em;
}

.member-icon img{
  width: 100%;
  height: auto;
  border: solid 3px white;
  border-radius: 50%;
  background: #FFFFE0;
}

.headline {
  border-radius: 30px;
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  //overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px white;
  border-radius: 50%;
  background: #FFFFE0;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  padding: 17px 13px;
  border-radius: 12px;
  background: white;
  width: 100%;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid white;
}

.says p {
  margin: 0;
  padding: 0;
}

.button-area{
  text-align: center;
}